:root {
  /* purple */
  --darkPurple: rgb(41, 0, 75);
  --darkPurpleHover: rgb(61, 9, 104);
  --purple: rgb(80, 27, 122);

  /* white */
  --mainBackground: rgb(241, 243, 245);
  --background: rgb(246, 249, 252);
  --background2: #fafbfc;

  /* blue */
  --darkBlue: #5271ff;
  --darkBlueHover: #5271ff88;
  --blueHover: rgb(10, 70, 228);
  --blue: rgb(22, 82, 240);
  --blue2: #2f5dfb;
  --lightBlue: rgb(0, 204, 255);

  /* orange */
  --orange: rgb(255, 196, 0);
  --darkorange: #ff7f2e;

  /* yellow */
  --yellow: #ffeb4d;
  --darkyellow: #feba2b;
  /* red */
  --red: #ff4631;

  /* green */
  --pastelgreen: #1bb778;

  /* black */
  --darkbackground: #1a1a1a;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;

  background-color: black;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

canvas {
  background-color: #1a1a1a;
}

.tools {
  width: 64px;
  height: 100vh;
  background-color: #1a1a1a;
  border-right: 1px solid #5a5a5a;

  position: absolute;
}

.tool {
  width: 100%;
  min-height: 64px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  color: #5a5a5a;

  transition: 250ms;
}

.tool:hover {
  background-color: black;
  color: #cccccc;
}

.tool-active {
  color: var(--blue);
  background-color: black;
}

.tool-active:hover {
  color: var(--blue);
}

.line {
  width: 40%;
  height: 2px;

  background-color: #5a5a5a;
}

.tool:hover .extra-tool {
  background-color: #cccccc;
  border: none;
}

.tool-active .extra-tool {
  background-color: var(--blue);
  border: none;
}

.tool-active:hover .extra-tool {
  background-color: var(--blue);
  border: none;
}

.horizontal-full-line {
  width: 40%;
  height: 2px;
  background-color: #5a5a5a;
}

.center-ball {
  width: 8px;
  height: 8px;

  z-index: 100;
  border-radius: 50%;
  border: 1px solid #5a5a5a;
  position: absolute;
}

.left-ball {
  width: 8px;
  height: 8px;

  z-index: 100;
  border-radius: 50%;
  margin-left: -0.8%;
  border: 1px solid;
  position: absolute;
}

.main {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;

  font-size: 30px;
}

.reset-btn {
  color: var(--red);

  width: 96px;
  height: 32px;

  margin-left: -96px;
  margin-top: -568px;

  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 10px;

  background-color: black;

  transition: 250ms;
}

.reset-btn:hover {
  background-color: #4a4a4a;
  cursor: pointer;
}

.eraser-btn {
  color: white;
  width: 64px;
  height: 64px;
  background-color: #222222;

  display: none;
  justify-content: center;
  align-items: center;

  color: black;

  transition: 250ms;

  position: absolute;

  margin-top: -268px;
  margin-left: -436px;
}

.eraser-btn:hover {
  color: #cccccc;
  background-color: black;
}

.eraser-active {
  background-color: black;
  color: var(--blue);
}

.eraser-active:hover {
  color: var(--blue);
}

.e-btn {
  color: white;
  width: 64px;
  height: 64px;

  display: none;
  justify-content: center;
  align-items: center;

  position: absolute;

  margin-top: -268px;
  margin-left: -100px;

  background-color: #222222;

  transition: 250ms;
}

.decrease-btn {
  margin-left: -372px;
}

.increase-btn {
  margin-left: -308px;
}

.e-btn:hover {
  color: var(--blue);
  background-color: black;
}

.eraser-font-size {
  width: 64px;
  height: 64px;

  position: absolute;

  display: none;
  justify-content: center;
  align-items: center;

  margin-top: -268px;
  margin-left: -244px;

  color: var(--blue);
}
